/* 상단띠배너 */
.line-banner {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.line1 {
    background-color: #000;
    color: #fff;
}

.line2 {
    background-color: #fff;
    color: #000;
}

/* 헤더 */
header {
    height: 5rem;
    width: 100%;
    transition: all 0.3s ease 0s;
    position: fixed;
    z-index: 1000;
    top: 4rem;
}

header.on {
    background-color: var(--main-color);
}

header>.common-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더로고 */
.logo {
    height: 4.375rem;
    line-height: 0;
}

/* GNB */
.gnb {
    display: flex;
    height: 100%;
}

.gnb1depth {
    display: flex;
    height: 100%;
}

.gnb1depth-a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.gnb1depth-a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--gray900);
    display: none;
}

.gnb1depth:hover>.gnb1depth-a {
    font-weight: var(--fw2);
}

.gnb1depth:hover>.gnb1depth-a::after {
    display: block;
}

.mega-menu-wrap {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: auto;
}

.mega-1depth:hover>.mega-menu-wrap {
    display: block;
    background-color: var(--main-color);
}

.mega-menu {
    width: 1280px;
    height: auto;
    padding: 1rem 0 2rem 0;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}

.mega-menu>section {
    flex: 1;
}

.menu-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-column>p {
    font-weight: var(--fw2);
}

.menu-column>a:hover {
    text-decoration: underline;
}

.menu-image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-image>p {
    font-weight: var(--fw2);
}

.menu-image>a {
    width: 100%;
    height: 11.25rem;
}

.menu-image img {
    width: 100%;
    object-fit: cover;
}


/* 헤더우측아이콘들 */
.head-icons>ul {
    display: flex;
    gap: 1rem;
    line-height: 0;
}

.head-icons img {
    height: 1.5rem;
}

/* 모바일가리기 */
.header-smart {
    display: none;
}

.smart-gnb {
    display: none;
}

@media(max-width:1024px) {
    .header-pc {
        display: none;
    }

    .header-smart {
        display: block;
        width: 100%;
        height: 5rem;
        position: fixed;
        z-index: 100;
        top: 4rem;
        transition: all 0.5s ease 0s;
    }

    .header-smart.on {
        background-color: var(--main-color);
    }

    .header-smart>.common-frame {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .menu-btn {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    .logo {
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* 스마트 GNB */
    .smart-gnb {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        width: 100%;
        height: calc(100dvh - 9rem);
        overflow-y: auto;
        overscroll-behavior-y: contain;
        top: 9rem;
        background-color: var(--main-color);
        transition: all 0.5s ease 0s;
        transform: translateX(-100%);
    }

    .smart-gnb.on {
        transform: translateX(0);
    }

    /* 스크롤막기 */
    html:has(.smart-gnb.on) {
        overflow: hidden;
    }
    /*  */

    .smart-gnbmenu {
        width: 100%;
    }

    .smart-gnb1depth {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .smart-gnb1depth-a {
        padding: 1rem 2rem;
        width: 100%;
    }

    .smart-gnb1depth-a span {
        font-weight: var(--fw2);
    }

    .smart-gnb1depth-a img {
        transition: all 0.5s ease 0s;
    }
    .smart-gnb1depth-a img.on{
        transform: rotate(180deg);
    }

    .smart-mega-1depth {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .smart-mega-1depth img {
        width: 20px;
        aspect-ratio: 1/1;
    }

    .smart-mega-menu {
        background-color: var(--beige100);
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.5s ease 0s;
        overflow: hidden;
    }

    .smart-mega-menu.on {
        grid-template-rows: 1fr;
    }

    .smart-mega-inner {
        min-height: 0;
        overflow: hidden;
    }

    .smart-menu-column {
        margin: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 0;
    }

    .smart-menu-column ul {
        display: flex;
        padding: 0 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .smart-menu-column span {
        font-weight: var(--fw2);
    }
}

@media(max-width:768px) {
    .smart-gnb1depth-a {
        padding: 1rem 1rem;
    }
}