/* 상단띠배너 */
.line-banner{
    position: sticky;
    top: 0;
    z-index: 10;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.line1 {
    background-color: #000;
    color: #fff;
}

.line2 {
    background-color: #fff;
    color: #000;
}

/* 헤더 */
header {
    height: 5rem;
    width: 100%;
    transition: all 0.3s ease 0s;
    position: sticky;
    z-index: 100;
    top: 4rem;
}
header:hover{
    background-color: var(--main-color);
}

header>.common-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더로고 */
header .logo {
    height: 4.375rem;
    line-height: 0;
}

/* GNB */
.gnb {
    display: flex;
    height: 100%;
}
.gnb1depth {
  display: flex;
  height: 100%;
}
.gnb1depth-a{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.gnb1depth-a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--gray900);
    display: none;
}
.gnb1depth:hover>.gnb1depth-a{
    font-weight: var(--fw2);
}
.gnb1depth:hover>.gnb1depth-a::after{
    display: block;
}
.mega-menu-wrap{
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: auto;
}
.mega-1depth:hover>.mega-menu-wrap{
    display: block;
    background-color: var(--main-color);
}
.mega-menu{
    width: 1280px;
    height: auto;
    padding: 1rem 0 2rem 0;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
}
.mega-menu>section{
    flex: 1;
}
.menu-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-column>p{
    font-weight: var(--fw2);
}
.menu-column>a:hover{
    text-decoration: underline;
}
.menu-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-image>p{
    font-weight: var(--fw2);
}
.menu-image>a{
    width: 100%;
    height: 11.25rem;
}
.menu-image img{
    width: 100%;
    object-fit: cover;
}


/* 헤더우측아이콘들 */
.head-icons>ul{
    display: flex;
    gap: 1rem;
    line-height: 0;
}

.head-icons img{
    height: 1.5rem;
}