/* 메인 컨텐츠 */
main {
    transform: translateY(-5rem);
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

/* 메인 타이틀 */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-title {
    text-align: center;
    font-weight: var(--fw2);
}

.title span {
    width: 18px;
    height: 1px;
    background-color: var(--gray800);
}

.title p {
    text-align: center;
    color: var(--gray800);
}

/* 히어로 배너 */
.hero-banner {
    width: 100%;
    height: 50.625rem;
}

.hero-banner video,
img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

/* 베스트셀러 */
.best-sellers>.common-frame {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.best-seller-products {
    width: 100%;
}

.best-train {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product-desc>a:nth-of-type(1) {
    font-weight: var(--fw2);
}

.product-desc>a:nth-of-type(2) {
    color: var(--gray700);
}

/* 신상품 */
.new {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.new-1 {
    position: relative;
}

.new1-imgwrap {
    display: flex;
    line-height: 0;
    width: 100%;
}

.new1-imgwrap>img {
    width: 50%;
    aspect-ratio: 1/1;
}

.new1-text {
    position: absolute;
    left: 3rem;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new1-text>h2 {
    font-size: var(--fs-pc-h4);
}

.new1-text>a {
    text-decoration-line: underline;
}

.new-2>.common-frame {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.new2-product {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-slide {
    aspect-ratio: 107/161;
    overflow: hidden;
}

.product-train {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    transform: translateY(-16rem);
    transition: all 0.5s ease 0s;
}

.product-slide:hover>.product-train {
    transform: translateY(0);
}

.product-train img {
    line-height: 0;
}

.product-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-train>a {
    width: 100%;
    aspect-ratio: 107/161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart span {
    font-weight: var(--fw2);
}

.product-cart button {
    font-size: var(--fs-pc-body1);
    font-weight: var(--fw2);
    color: #fff;
    background-color: var(--gray900);
    width: 100%;
    height: 3rem;
    cursor: pointer;
}


/* 프로모션 */
.promotion>.common-frame {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.promotion-content {
    aspect-ratio: 1824/950;
    display: flex;
}

.promotion-content>div {
    flex: 1;
}

.promo-desc {
    display: flex;
    padding: auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background-color: var(--main-color);
}
.promo-prod{
    line-height: 0;
    width: 460px;
    aspect-ratio: 460/360;

}


/* 푸터 */